body {
    background-color: aquamarine;
}

h1, h2, h3 {
    text-align: center;
    font-style: oblique;
}

div {
    text-align: center;
}

ul, ol {
    text-align: center;
    list-style-position: inside;
}

